# ─── Python ───────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# ─── Ambientes virtuais ────────────────────────────────────────────────────────
.venv/
venv/
env/

# ─── Variáveis de ambiente ────────────────────────────────────────────────────
.env

# ─── IDEs ─────────────────────────────────────────────────────────────────────
.idea/
.vscode/
*.iml

# ─── macOS ────────────────────────────────────────────────────────────────────
.DS_Store

# ─── Airflow ──────────────────────────────────────────────────────────────────
airflow.cfg
airflow_settings.yaml
logs/
plugins/
standalone_admin_password.txt

# ─── Spark ────────────────────────────────────────────────────────────────────
spark-warehouse/
metastore_db/
derby.log

# ─── DuckDB ───────────────────────────────────────────────────────────────────
*.duckdb
*.duckdb.wal

# ─── Logs e arquivos temporários ─────────────────────────────────────────────
*.log
*.tmp
context.md
